<div class="{% if section.settings.include_margins %}Container{% endif %}">
  {%- for block in section.blocks -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

    {%- render block -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Apps",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "label": "Include margins",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
