<div class="section-spacing {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
  <div class="container container--xs">
    <div class="section-stack text-center">
      {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, content: section.settings.content, text_alignment: 'center' -%}

      {%- form 'contact', class: 'form' -%}
        {%- if form.posted_successfully? -%}
          {%- assign content = 'contact.form.success_message' | t -%}
          {%- render 'banner', status: 'success', content: content -%}
        {%- endif -%}

        {%- if form.errors -%}
          {%- capture content -%}{{ form.errors.translated_fields[form.errors.first] | capitalize }} {{ form.errors.messages[form.errors.first] }}{%- endcapture -%}
          {%- render 'banner', status: 'error', content: content -%}
        {%- endif -%}

        <div class="fieldset">
            {%- assign label  = 'contact.form.name' | t -%}
            {%- render 'input', type: 'text', name: 'contact[name]', label: 'お名前', value: customer.name, required: true, autocomplete: 'name' -%}

          {%- for block in section.blocks -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

            {%- assign field_title = block.settings.title -%}

            {%- if field_title == blank -%}
              {%- capture field_title -%}Custom field {% increment custom_field %}{%- endcapture -%}
            {%- endif -%}

            {%- capture name -%}contact[{{ field_title | escape }}]{%- endcapture -%}

            {%- if block.type == 'text' -%}
              {%- if block.settings.use_long_text -%}
                {%- render 'input', name: name, label: block.settings.title, required: block.settings.required, multiline: 4 -%}
              {%- else -%}
                {%- render 'input', type: 'text', name: name, label: block.settings.title, required: block.settings.required -%}
              {%- endif -%}
            {%- elsif block.type == 'dropdown' and block.settings.values != blank -%}
              {%- assign values = block.settings.values | split: ',' -%}
              {%- render 'select', option_values: values, show_empty_value: true, name: name, label: block.settings.title, required: true -%}
            {%- endif -%}
          {%- endfor -%}
          {%- assign label  = 'contact.form.email' | t -%}
          {%- render 'input', type: 'email', name: 'contact[email]', label: label, value: customer.email, required: true, autocomplete: 'email' -%}
          <div class="form-control">
            <select id="select" name="select" class="select" required>
              <option value="" disabled selected>問い合わせ種別</option>
              <option value="products">商品問い合わせ</option>
              <option value="order">注文に関して</option>
              <option value="coverage">取材</option>
              <option value="company">お取り扱いに関して</option>
            </select>
            <svg aria-hidden="true" focusable="false" fill="none" width="10" class="icon icon-dropdown-chevron" viewBox="0 0 10 6">
              <path d="m1 1 4 4 4-4" stroke="currentColor" stroke-linecap="square"></path>
            </svg>
          </div>
          <div id="products">
            {%- assign label  = 'contact.form.products' | t -%}
            {%- render 'input', type: 'text', name: 'contact[products]', label: '商品名', value: customer.products, autocomplete: 'products' -%}
          </div>
          <div id="order">
            {%- assign label  = 'contact.form.order' | t -%}
            {%- render 'input', type: 'text', name: 'contact[order]', label: '注文番号', value: customer.order, autocomplete: 'order' -%}
          </div>
          <div id="coverage">
            {%- assign label  = 'contact.form.coverage' | t -%}
            {%- render 'input', type: 'text', name: 'contact[coverage]', label: '会社名', value: customer.coverage, autocomplete: 'coverage' -%}
          </div>
          <div id="company">
            {%- assign label  = 'contact.form.company' | t -%}
            {%- render 'input', type: 'text', name: 'contact[company]', label: '会社名', value: customer.company, autocomplete: 'company' -%}
          </div>

          {%- assign label = 'contact.form.message' | t -%}
          {%- render 'input', name: 'contact[body]', label: label, multiline: 4, required: true -%}
        </div>

        {%- assign button_content = 'contact.form.submit' | t -%}
        {%- render 'button', content: button_content, type: 'submit' -%}
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact.name",
  "class": "shopify-section--contact",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:global.text.subheading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:global.text.heading",
      "default": "Contact"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:global.text.content"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.contact.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.contact.blocks.text.name_label",
          "default": "Custom field"
        },
        {
          "type": "checkbox",
          "id": "use_long_text",
          "label": "t:sections.contact.blocks.text.use_long_text",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "t:sections.contact.blocks.text.required",
          "default": false
        }
      ]
    },
    {
      "type": "dropdown",
      "name": "t:sections.contact.blocks.dropdown.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.contact.blocks.dropdown.name_label",
          "default": "Custom field"
        },
        {
          "type": "text",
          "id": "values",
          "label": "t:sections.contact.blocks.dropdown.values",
          "info": "t:sections.contact.blocks.dropdown.values_info",
          "default": "value 1, value 2, value 3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact.presets.contact_form.name",
      "settings": {}
    }
  ]
}
{% endschema %}

{% javascript %}
$(function(){
  var select = $('#select');
  var selected = $('#selected');

  select.on('change', function(){
    console.log('change');
    var selectedOptionText = $(this).children(':selected').text();
    $('#products').hide();
    $('#order').hide();
    $('#coverage').hide();
    $('#company').hide();
    if (selectedOptionText == '商品問い合わせ'){
      $('#products').show();
      $('#products .input').attr('required', true);
    } else if (selectedOptionText == '注文に関して') {
      $('#order').show();
      $('#order .input').attr('required', true);
    } else if (selectedOptionText == '取材') {
      $('#coverage').show();
      $('#coverage .input').attr('required', true);
    } else if (selectedOptionText == 'お取り扱いに関して') {
      $('#company').show();
      $('#company .input').attr('required', true);
    }
  });
});
$(function() {
    // remove form validation
    $('form').find('input textarea select').removeAttr('required max min maxlength pattern');
});
{% endjavascript %}