@charset "utf-8";

html body{
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
}

.Button,
.SelectButton, 
.shopify-payment-button__button--unbranded, 
input.spr-button-primary, 
.spr-summary-actions-newreview, 
.spr-button-primary:not(input), 
.spr-pagination-prev > a, 
.spr-pagination-next > a{
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
}
.Heading,
.HorizontalList__Item > .Link{
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
}



/* FAQ */
.Faq__Icon{
  color: var(--header-light-text-color);
}

/* 当サイトについて */
.dl_table dl{
  display: flex;
  flex-direction: column;
}
.dl_table dl dd{
  margin-left: 0;
  width: 100%;
}

@media screen and (min-width: 769px){
  .dl_table dl{
    display: flex;
    flex-direction: row;
  }
  .dl_table dl dt{
    width: 180px;
  }
  .dl_table dl dd{
    margin-left: 40px;
  }
  
}

/* お問い合わせ */
#products,
#order,
#coverage,
#company{
  display: none;
}